/* Dark mode styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #2d2d2d;
    color: #e0e0e0;
  }
  
  /* Fixed header styles */
header {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; /* Ensures the header appears above other elements */
    background-color: #333;
    color: #e0e0e0;
    padding: 20px;
  }
  
  main {
    margin-top: 80px; /* Adjust this value to account for the header height */
  }
  
/* Dropdown menu styles */
nav ul {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav > ul > li {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-right: 20px;
  }
  
  nav > ul > li > a {
    font-family: 'Roboto', sans-serif;
    color: #e0e0e0;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 20px;
  }
  
  nav > ul > li:hover > ul {
    font-family: 'Roboto', sans-serif;
    display: block;
  }
  
  nav > ul > li > ul {
    font-family: 'Roboto', sans-serif;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 0;
    margin: 0;
    min-width: 200px;
  }
  
  nav > ul > li > ul > li {
    font-family: 'Roboto', sans-serif;
    display: block;
  }
  
  nav > ul > li > ul > li > a {
    font-family: 'Roboto', sans-serif;
    color: #e0e0e0;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 20px;
  }
  
  nav > ul > li > ul > li > a:hover {
    font-family: 'Roboto', sans-serif;
    background-color: #444;
  }
  
  /* Anchor link styles */
  a {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
  }
  
  /* Section styles */
  section {
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    background-color: #1f1f1f;
    color: #e0e0e0;
    margin-top: -80px; /* Account for the fixed header height */
  }
  
  
  section h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    margin-top: 0;
    color: #e0e0e0;
  }
  
  section p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #b3b3b3;
  }
  